.tit_inicio {
   font-size: 1.5rem;
   text-align: center;
   text-transform: uppercase;
}

.contenido_inicio p {
   font-size: 1rem;
   text-align: justify;
   padding: 0 13px;
}

.bloque.parallax {
   height: 500px;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: auto 90%;
}

.parallax.cover-1 {
   background-image: url(../img/hospital.jpg);
}

.parallax.cover-2 {
   background-image: url(../img/gral_piran.webp);
}

.parallax.cover-3 {
   background-image: url(../img/cnel_vidal.webp);
}

.parallax.cover-4 {
   background-image: url(../img/historia.webp);
}

.pie_pagina {
   position: sticky;
   bottom: 0px;
}

@media screen and (min-width: 575px) {
   .tit_inicio {
      font-size: 1.8rem;
      padding-bottom: 5px;
   }

   .bloque.parallax {
      height: 800px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
   }

   .bloque {
      margin-bottom: 20px;
   }

   .cover-4 {
      margin-bottom: 0;
   }
}