table {
  width: 100%;
  border-collapse: collapse; 
}

th {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #ccf2f2; 
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f3f3f3; 
}


table#new-user,
table#searchUsername,
table#editId {
  margin-bottom: 20px; 
}


label {
  font-size: 18px;
  display: block; 
  margin-bottom: 5px;
}

.search-container {
  margin: 15px 0;
}

.bt-guardar,
.divEliminar,
.divEditar {
  margin: 15px 0;
  text-align: center;
}

.divEliminar {
  display: flex;
  justify-content: space-between; 
  width: 40%; 
}


#guardarUser,
#guardarUserEdit,
#EditarUser,
#searchButton,
#eliminarUser {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer; 
}

#guardarUser:hover,
#guardarUserEdit:hover,
#EditarUser:hover,
#searchButton:hover {
  background-color: #daefef; 
  color: black;
}

#eliminarUser:hover {
  background-color: red;
  color: white;
}

#usernameInput {
  width: 300px;
  padding-right: 30px;
  font-size: 18px;
}